@using E_Commerce_MVC.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> _userManager;
@model List<ProductBasketModel>
@{
    decimal itemsPrice = 0;
    foreach (var item in Model)
    {
        itemsPrice += item.Price;
    }

    var user = Context.User.Identity.Name;
    if (user != null)
    {
        var userDetail = await _userManager.FindByEmailAsync(user);

    }

}

<style>
    .gradient-custom {
        /* fallback for old browsers */
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right)
    }
</style>



@if (user != null)
{
    <section class="h-100 gradient-custom">
        <div class="container py-5">
            <div class="row d-flex justify-content-center my-4">
                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0"> Sepette @Model.Count adet ürün bulunmaktadır</h5>
                        </div>
                        @foreach (var item in Model)
                        {
                            <div class="card-body">
                                <!-- Single item -->
                                <div class="row">
                                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                        <!-- Image -->
                                        <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                            <img src="~/Images/@item.ImageUrl"
                                                 class="w-100" alt="Blue Jeans Jacket" />
                                            <a href="#!">
                                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                            </a>
                                        </div>
                                        <!-- Image -->
                                    </div>

                                    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                        <!-- Data -->
                                        <p><strong>@item.ProductName</strong></p>
                                        <p>@item.ProductDescription</p>
                                        <form method="post" asp-action="DeleteCartItem" asp-controller="Basket" asp-route-productId="@item.Id">
                                            <button type="submit" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                                                    title="Remove item">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </form>



                                        <!-- Data -->
                                    </div>

                                    <h5 class="card-title">@item.Price.ToString("C")</h5>
                                </div>
                                <!-- Single item -->

                                <hr class="my-4" />


                            </div>

                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Summary</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Products
                                    <span>@itemsPrice</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Shipping
                                    <span>Gratis</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong id="total" >Total amount</strong>
                                    </div>
                                    <span id="discountAmount" ><strong></strong></span>
                                    <span id="oldPrice" ><strong></strong></span>
                                    <span id="totalPrice" ><strong>@itemsPrice</strong></span>
                                </li>
                            </ul>

                            <div class="row">
                                <div class="col">
                                      <div class="form-group mx-sm-3 mb-2">
                                        <label for="inputPassword2" class="sr-only">Coupon Code</label>
                                        <input type="text" class="form-control" id="inputPassword2" name="CouponCode" placeholder="code">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" id="checkCodeButton" class="btn btn-primary mb-2" >Check Code</button>
                                </div>
                                <div class="text-center">
                                    <span id="notFound"><strong></strong></span>

                                </div>

                            </div>

                              <div class="text-center">
                                    <form method="get" asp-action="GoToCheckout" asp-controller="Order">
                              
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    Go to checkout
                                </button>
                            </form>
                                </div>
                          


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
else{
    <h1>
        <strong>
            Please verify email address!
        </strong>
    </h1>
}


<script>
    const prices = document.getElementById("totalPrice");
    const discountAmount = document.getElementById("discountAmount");
    const oldPrice = document.getElementById("oldPrice");
    const inputValue = document.getElementById("inputPassword2");
    const btnDiscount = document.getElementById("checkCodeButton");
    const totalAmount = document.getElementById("total");
    const couponNotFound = document.getElementById("notFound");

    document.addEventListener("DOMContentLoaded",function(){
        btnDiscount.addEventListener("click",function(){
            var couponCode = document.getElementById("inputPassword2").value;
            var url = "https://localhost:7159/Discount/CheckCoupon?CouponCode=" + encodeURIComponent(couponCode);
            var itemsPrice = 0;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    if(data.data != null){
                        couponNotFound.textContent = "";
                        console.log(data.data);
                        itemsPrice = parseFloat(prices.textContent);
                        var discountPrice = parseFloat(itemsPrice) - (parseFloat(itemsPrice) * parseFloat(data.data.discountAmount) / 100);
                        oldPrice.innerText = prices.textContent;
                        oldPrice.style.color = "red";
                        oldPrice.style.textDecoration = "line-through";
                        prices.innerText = discountPrice.toString();
                        prices.style.color = "green";
                        inputValue.style.display = "none";
                        btnDiscount.style.display = "none";
                        totalAmount.innerHTML = "Discounted Price"
                    }
                       
                  
                   else {

                        couponNotFound.style.color = "red";
                        couponNotFound.textContent = "Coupon is not found";
                    }
             
                })
                .catch(error => {
                    console.error("Error:",error);
                })


        })
    })



</script>