@using E_Commerce_MVC.Services.Abstract;
@using E_Commerce_Shared.Entity;

@model List<Product>
@{
    double? starCount = 0;
    Product product = new Product();
}
    <style>
        .container-content{
            display:flex;
            flex-direction:column;
            min-height:100vh;
        }

        .row{
            flex-grow:1;
        }

    .pagination-container{
        display: flex;
       justify-content:center;
        align-items:center;
        background-color:#fff;
        /*padding:10px;*/
        box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    }

    .rating-color{
        color:orange !important;
    }

    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        max-width: 400px;
        margin: 0 auto;
    }

    .close-button {
        float: right;
        cursor: pointer;
    }


    </style>

    <div class="row">
        <div class="col-md-4">
        <form method="get" asp-action="Search" asp-controller="FilterProduct"> 
                <button type="submit" class="btn btn-warning">Filtre Uygula</button>
            </form>
        </div>
        <div class="col-md-8">
        <partial name="_categoriesBadges" />

        </div>
    </div>





<div class="row">
    <div class="col-3">Total Connection/Users:</div>
    <div class="col-4">
        <span id="totalUsersCounter"></span>

    </div>
</div>
<input type="text" id="deneme" />

<button class="btn btn-warning" id="notification" >Gönder</button>


<div class="container-content">

    <div class="row mt-5">

        @foreach (var item in Model)
        {
            starCount = item.RateAvg;
            <div class="col-md-4 mt-2" >
                <div class="card text-black">
                    @if(starCount != 0){
                        <div class="stars-overlay" >
                            @for (int i = 0; i < starCount; i++)
                            {
                                if (i < starCount)
                                {
                                    <script>
                                        document.write('<i class="fa fa-star rating-color"></i>')
                                    </script>
                                }
                            }
                        </div>

                    }
                    <div class="card text-center">
                        <a class="btn add-to-favorites" data-productId="@item.Id" data-favorite="false">
                            <i class="fa-regular fa-heart fa-xl" style="color:#aab41d;"></i>

                        </a>
                    </div>

                    <i class="fab fa-lg pt-3 pb-1 px-3"></i>
                    <img src="~/Images/@item.ImageUrl" class="card-img-top" alt="Apple Computer" style="width: 100%; height: 290px;" />
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">@item.ProductName</h5>
                            <p class="text-muted mb-4">@item.ProductDescription</p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between">
                                <span>@item.ProductName</span><span>@item.Price.ToString("C")</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                                    <span>Total</span><span>@item.Price.ToString("C")</span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row" >
                        <div class="col" >
                            <form method="get" asp-controller="ProductClient" asp-action="GetProductById" asp-route-productId="@item.Id">
                                <button type="submit" class="btn btn-secondary" style="margin-bottom:1px;margin-right:1px">Ürün Detayı</button>

                            </form>
                            </div>
                        <div class="col">
                            <!-- Button trigger modal -->
                            <button class="openModalBtn btn btn-warning">Detay'a Bak</button>

                            <div id="myModal" class="modal">

                                <div class="modal-content">
                                    <span class="close-button" id="closeModal">&times;</span>

                                    <img src="~/Images/@item.ImageUrl">
                                    
                                    <h2>@item.ProductName</h2>
                                    <p>@item.ProductDescription</p>
                                </div>
                            </div>

                        </div>
                        </div>
                  

                </div>

            </div>
        }
    </div>
   
    <div class="pagination-container text-center " >
        <partial name="_pagination" ></partial>
    </div>
    @if(User.Identity.Name == "admin@gmail.com")
    {
        <div style="position: fixed; bottom: 0; right: 0;">
            <div class="text-md-end">
                <partial name="_messageBox" model="product"></partial>
            </div>
        </div>
    }
</div>






<script src="~/js/signalr.js"></script>
<script src="~/js/userCount.js"></script>
<script src="~/js/notification.js"></script>
<script src="~/js/modal.js"></script>
<script src="~/js/favouriteProcess.js"></script>